urllib3==2.1.0
telebot==0.0.5
soupsieve==2.6
setuptools==57.4.0
requests==2.31.0
pywin32-ctypes==0.2.2
python-dotenv==1.0.1
pyTelegramBotAPI==4.14.1
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pip==24.2
pillow==11.0.0
pefile==2023.2.7
peewee==3.15.4
packaging==24.0
idna==3.6
dotenv==0.0.5
charset-normalizer==3.3.2
certifi==2023.11.17
beautifulsoup4==4.12.3
altgraph==0.17.4

tkcalendar~=1.6.1